body {
    background-color: #fff;
    color: #2a2a2a;
}
.container{
    outline: 1px solid #000000;
    width:800px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    height: 2000px;
    position: absolute;
}
.box-red{
    background-color: red
;
width: 100px;
    height: 100px;
    display: flex;
   align-items: center;
   justify-content: center;
   text-transform: uppercase;
   color: #fff;
   background-color:gray
;
animation-duration: rotator;
animation-duration: 2000ms;
animation-direction: normal;
animation-timing-function: linear;
 animation-iteration-count: 1;
 aps

}
/* 
.green{
    background-color: rgba(20,73,20,0.6);
width: 100px;
height: 100px;
transition-property: transform;transition-duration: 1000ms; 





}

.blue{
    background-color:blue;
width: 100px;
    height: 100px;
 /* transform: rotate(360deg) ; 
transition-property: transform;
    transition-duration: 1000ms;
    transition-delay: 1000ms;
    transition-timing-function: ;
    cursor: pointer; */
transition: transform 1000ms ease-in-out, background-color 1000ms : black ;
}
.blue:hover{
    transform: rotate(-360deg)

}
     */