body {
    background-color: #fff;
    color: #2a2a2a;
}
.container{
    outline: 1px solid #000000;
    width:800px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    height: 2000px;
    position: absolute;
}
.box-red{
    background-color: red
;
width: 100px;
    height: 100px;
    display: flex;
   align-items: center;
   justify-content: center;
   text-transform: uppercase;
   color: #fff;
   background-color:gray
;
animation-duration: rotator;
animation-duration: 2000ms;
animation-direction: normal;
animation-timing-function: linear;
 animation-iteration-count: 1;
 aps

}
/* 
.green{
    background-color: rgba(20,73,20,0.6);
width: 100px;
height: 100px;
transition-property: transform;transition-duration: 1000ms; 





}

.blue{
    background-color:blue;
width: 100px;
    height: 100px;
 /* transform: rotate(360deg) ; 
transition-property: transform;
    transition-duration: 1000ms;
    transition-delay: 1000ms;
    transition-timing-function: ;
    cursor: pointer; */
transition: transform 1000ms ease-in-out, background-color 1000ms : black ;
}
.blue:hover{
    transform: rotate(-360deg)

}

 .backdrop {
     position: fixed;
     width: 100vw;
     height: 100vh;
     top: 0;
     background-color: rgba(0, 0, 0, 0.2);
     transition: opasity 400ms cubic-bezier(0.4, 0, 0.2, 1),
         visibility 400ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .backdrop.is-hidden .modal {
     transform: translate(-50%, -50%) scale(0) rotate(360deg);

 }

 .modal {
     background-color: #ffffff;
     width: 528px;
     min-height: 581px;
     border-radius: 4px;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%) scale(1) rotate(0);
     transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .modal_close {
     position: absolute;
     right: 10px;
     top: 10px;
     width: 30px;
     height: 30px;
     border: 1px solid rgba(0, 0, 0, 0.1);
     border-radius: 50%;
     background-color: transparent;
     display: flex;
     align-items: center;
     justify-content: center;
     color: #000000;
 }

 .button_icon {
     color: currentColor;



 }

 .is-hidden {
     opacity: 0;
     visibility: hidden;
     pointer-events: none;
 }